@page "/shop"
@using Microsoft.EntityFrameworkCore;
@using MythicalToyMachine.Data;
@inject IDataService dataService
@inject ShoppingCartService cart

<h3>Shop</h3>

   @*  get the info for each product from the db *@
    @if(Kits is not null)
    {
        <div class="Products d-flex flex-row">
        @foreach (var k in Kits)
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src=@k.ThumbnailPath>
                    <div class="card-body">
                        <h5 class="card-title">@(k.Kitname) </h5>
                    <h7 class="card-body">@(k.Creature?.Creaturename) base figure</h7>
                        <ul>
                            @foreach(var a in k.KitAccessories)
                        {
                            <li>@(a.Acc?.Accessoryname)</li>
                        }
                    </ul>
                        <button class="btn btn-primary cartButton" @onclick=@(()=>addToCart(k))>Add To cart</button>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div>Loading...</div>
    }

@code {

    IEnumerable<Kit> Kits { get; set; }

    bool? addedToCart { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        Kits = await dataService.GetAllKits();
    }

    private void addToCart(Kit kit)
    {
        cart.AddToCart(kit);
    }

}
