@page "/shop"

<h3>Products</h3>
@for (int r = 0; r < 4; r++)
{
    //get the info for each product from the db
    <div class="Products d-flex flex-row">
        @for (int i = 0; i < 3; i++)
        {
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\Images\KidWithToys.jpg">
                <div class="card-body">
                    <h5 class="card-title">Our Cool Product Name @(i + r)</h5>
                    <a href="" class="btn btn-primary">View Product @(i + r)</a>
                </div>
            </div>
        }
    </div>
}



@code {

}
