@page "/testPhotos"

<h3>TestPage</h3>

<div class="d-flex flex-row">
    <div  id="LandingPageCarousel"class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="Images/KidWithToys.jpg" alt="An example Dinosaur" class="d-block w-100"/> @* the w-100 makes it width 100 *@
            </div>

            <div class="carousel-item">
                <img src="Images/TeddyBear.jpg" alt="An example Dinosaur" class="d-block w-100" /> @* the w-100 makes it width 100 *@
            </div>

            <div class="carousel-item">
                <img src="Images/KidWithToys.jpg" alt="An example Dinosaur" class="d-block w-100" /> @* the w-100 makes it width 100 *@
            </div>
        </div>
    </div>
</div>

@code {

}
