@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MythicalToyMachine</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div> *@


<div style="display: flex">
    <div style="flex: 1" class="nav-item justify-content-end">
        <NavLink class="nav-link" href="">
            <span class="oi oi-home" aria-hidden="true"></span> Home
        </NavLink>
    </div>
    <div style="flex: 1" class="nav-item justify-content-end">
        <NavLink class="nav-link" href="/identity/login">
            <LoginControl />
        </NavLink>
    </div>
    <div style="flex: 1" class="nav-item justify-content-end">
        <NavLink class="nav-link" href="cart">
            <span class="oi oi-cart" aria-hidden="true"></span> Shopping Cart
        </NavLink>
    </div>
    
</div>
   


<style>
    .nav-item {
        color: black;
    }
</style>

@* <div class="@NavMenuCssClass nav-scrollable top-row" @onclick="ToggleNavMenu"> *@
@* <div class="top-row" @onclick="ToggleNavMenu">
    <nav class="flex-row">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="Build">
                <span class="oi oi-plus" aria-hidden="true"></span> BuildYourOwnToy
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="shoppingcart">
                <span class="oi oi-cart" aria-hidden="true"></span> Shopping Cart
            </NavLink>
        </div>
    </nav>
</div> *@

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
